* {
    box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
section {
  text-align: center;
  margin-top: 40px;
} 
section h2 {
  display: inline-block;
  margin: 0 auto 35px;
  text-transform: uppercase;
  border-bottom: 10px solid #3d94ca;
}
.service-icon {
    color: white;
    position: absolute;
    top: 3%;
    left: 1%;
    background-color: #3D94CA;
    padding: 20px;
    border-radius: 50%;

}
.service-text {
  padding-left: 65px;
  text-align: left;
}
.service-title {
    text-transform: uppercase;
}
